* text=auto

.gitattributes text eol=lf
*.asmdef text eol=lf
*.asset text eol=lf
*.cs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.py text eol=lf
*.yml text eol=lf

*.mat binary
*.wav binary
*.zip binary
